.form-container {
    width: 100%;
    max-width: 400px;
    text-align: left;
    margin: 0 auto;
}

.custom-input {
    width: 100%;
    margin: 0px 0;
}

.mat-error {
    text-align: left;
    /* Reset text alignment for error messages */
}