<mat-dialog-content>
    <header style="color: black; float: left;">
        <h1>{{ isEditMode ? 'Update Subject' : 'New Subject' }}</h1>
    </header>
    <form [formGroup]="subjectForm" class="form-container">
        <mat-form-field class="custom-input" appearance="outline" *ngIf="isEditMode">
            <mat-label>Subject Id</mat-label>
            <input matInput formControlName="subjectId" [readonly]="data">
        </mat-form-field>

        <mat-form-field class="custom-input" appearance="outline">
            <mat-label>Subject Name</mat-label>
            <input matInput formControlName="subjectName" placeholder="Ex. TTTN">
            <mat-error *ngIf="subjectForm.get('subjectName')?.hasError('required')">Subject name is
                required.</mat-error>
        </mat-form-field>

        <mat-form-field class="custom-input" appearance="outline">
            <mat-label>Credit</mat-label>
            <input matInput formControlName="credit" placeholder="Ex. 3">
            <mat-error *ngIf="subjectForm.get('credit')?.hasError('required')">Subject name is
                required.</mat-error>
        </mat-form-field>
        
    </form>
    <div class="d-flex justify-content-end">
        <button class="btn p-1 col-2 mx-1" role="button" style="background-color: whitesmoke;"
            matDialogClose>Cancel</button>
        <button mat-dialog-close class="btn btn-dark p-1 col-2 mx-1" (click)="addOrUpdateSubject()"
            [disabled]="!subjectForm.valid" *ngIf="!isEditMode">Save</button>
        <button mat-dialog-close class="btn btn-dark p-1 col-2 mx-1" (click)="addOrUpdateSubject()"
            [disabled]="!subjectForm.valid" *ngIf="isEditMode">Update</button>
    </div>
</mat-dialog-content>