<mat-dialog-content>
    <div class="custom-content">
        <form [formGroup]="subjectForm" class="form-container">
            <h2 style="color: black; float: left;">Register {{data.data.subjectName}} for students</h2>
        
            <mat-form-field class="custom-input" appearance="outline">
                <mat-label>Student Id</mat-label>
                <mat-chip-grid #classInput aria-label="Enter selection">
                    <mat-chip-row 
                    *ngFor="let studentId of selectedStudents" 
                    (removed)="remove(studentId)">
                      {{studentId}}
                      <button matChipRemove [attr.aria-label]="'remove ' + studentId">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip-row>
                  </mat-chip-grid>
                <input 
                    #studentsInput
                    type = 'text' 
                    matInput
                    placeholder="Student id..." 
                    formControlName="studentId" 
                    [matChipInputFor]="classInput" 
                    [matAutocomplete]="autoGroup"
                    (matChipInputTokenEnd)="add($event)"/>
                <mat-autocomplete 
                    #autoGroup="matAutocomplete" 
                    (optionSelected)="selected($event)"
                >
                <mat-option *ngFor="let student of filteredStudentOptions" [value]="student.studentId">
                    {{ student.studentId }} | {{ student.studentName }} | {{ student.className }}
                </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="subjectForm.get('studentId')?.hasError('required')">Student Id is required.</mat-error>
            </mat-form-field>
            <div class="d-flex justify-content-end">
                <button class="btn p-1 col-2 mx-1" role="button" style="background-color: whitesmoke;"
                    matDialogClose>Cancel</button>
                <button mat-dialog-close class="btn btn-dark p-1 col-2 mx-1"
                [disabled]="!isSave" (click)="onAddSubjectToStudents()">Save</button>
            </div>
        </form>
    </div>
</mat-dialog-content>