::ng-deep .ngx-datatable.material {
    box-shadow:none;
  }
  
  .ngx-datatable:not(.cell-selection) ::ng-deep .datatable-header {
  
    .datatable-header-cell {
  
      text-align: left;
      font-weight: bolder;
      font-size: 14px;
      font-weight: 500;
      color: black;
    }
  }