::ng-deep .pagination .page-item.active .page-link {
    background-color: black;
    color: white;
    border-color: black;
}

::ng-deep .pagination .page-item:not(.active) .page-link {
    color: black;
  }
